{% extends "whitepapers_blog/base.html" %}
{% block content %}
<div class="main w-75 mx-auto my-4">
    <div class="row">
        <table class="table">
            <thead class="thead">
                <tr>
                    <td><b> Name </b></td>
                    <td><b> Likes </b></td>
                    <td><b> Dislikes </b></td>
                    <td><b> Hodlers </b></td>
                    <td><b> Total Points </b></td>
                    <td><b> Comments </b></td>
                </tr>
            </thead>
            <tbody>
                {% load static %}
                {% for rank in coinrank_items %}
                <tr>
                    <td><b>{{ rank.name }} </b></td>
                    <td><b>{{ rank.like }} </b>&nbsp;<a href="{% url 'coinrank:like_counter' rank.id %}"><img src="{% static 'icons/up.png' %}" alt="Oops! something went wrong!"></a></td>
                    <td><b>{{ rank.dislike }} </b>&nbsp;<a href="{% url 'coinrank:dislike_counter' rank.id %}"><img src="{% static 'icons/down.png' %}" alt="Oops! something went wrong!"></a></td>
                    <td><b>{{ rank.hodl }} </b>&nbsp;<a href="{% url 'coinrank:hodler_counter' rank.id %}"><img src="{% static 'icons/rocket.png' %}" alt="Oops! something went wrong!"></a></td>
                    <td><b><img src="{% static 'icons/sum.png' %}" alt="Oops! something went wrong!"><span>&nbsp; = &nbsp;</span> {{ rank.total_points }}</b></td>
                    <td>
                        <b><span>&emsp; &ensp;</span><a href="{% url 'coinrank:comments' rank.id %}"><img src="{% static 'icons/comment.png' %}" alt="Oops! something went wrong!"></a>
                        </b>
                    </td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
    <td><a href="/coinrank/create_new_coin"><button class="add-new" id="homeButton"><b> Add New Coin +</b></button></a></td>
</div>

{% endblock %}

