<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <ul>
        <li><a href="{% url 'index' %}">indexpage</a></li>
        <li><a href="{% url 'admin:index' %}">admin</a></li>
        <li><a href="{% url 'whitepapers_blog:register'%}">register</a></li>
        <li><a href='coinrank/'>Coinrank</a></li>
        <li><a href='trade/'>Trade</a></li>

        
            {% block body_block %}
            {% endblock %}

    </ul>
</body>
</html>