.form {
    position: relative;
    z-index: 1;
    background: #e2e2e2;
    max-width: 360px;
    margin: 0 auto 20px;
    padding: 35px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 25px;
}

.form input {
    font-family: 'Lucida Console';
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 25px;
}

textarea {
    font-family: 'Lucida Console';
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 25px;
}

.form button {
    font-family: 'Lucida Console';
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: black;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    border-radius: 25px;
}

.form button:hover, .form button:active, .form button:focus {
    background: #43A047;
}

.back { 
    position: relative;
    z-index: 1;
    background: #e2e2e2;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 25px;
}
.back-button {
    font-family: 'Lucida Console';
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 82%;
    border: 0;
    padding: 15px;
    color: black;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    border-radius: 25px;
}
.back button:hover, .back button:active, .back button:focus {
    background: #eff0ef;
}

.textBox {
    font-family: 'Lucida Console';
    outline: 0;
    background: #f2f2f2;
    width: 80%;
    border: 0;
    margin: 0 0 15px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 25px;
}

#addButton:hover {
    background: rgb(1, 82, 26);
}

#homeButton:hover {
    background: rgb(1, 82, 26);
}