body {
    font-family: "Lato", sans-serif;
    background-color: rgb(100, 91, 91);
  }
  .main {
    /* margin-left: 160px; Same as the width of the sidenav */
    font-size: 14px; /* Increased text to enable scrolling */
    /* padding: 0px 10px; */
    height:100%;
    width:100%;
  }

